/*Common*/
body{
    font-family: 'Lato', sans-serif; 
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;;
}
.bg-cyan{
    background-color: #00cdcd;
}
.card{
    border-radius: 10px;
}
.form-control:focus,
.btn-primary.focus, .btn-primary:focus,
.btn.focus, .btn:focus{
    box-shadow: none;
}
.alfa-bg-green{
    background-color: #2fda61 !important;
}
.alfa-bg-orange{
    background-color: #ec935f !important;
}
.alfa-bg-red{
    background-color: #e8342b !important;
}
.alfa-bg-blue{
    background-color: #00cdcd !important;
}
.alfa-bg-blue-dark{
    background-color: #185d92 !important;
}
/*Nav*/
.alfa-navbar .navbar-brand img{
    max-width: 100px;
}
.alfa-navbar .navbar-nav .nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    text-transform: uppercase;
    color: #00cdcd;
}
.alfa-navbar .nav-link.dropdown-toggle img{
    max-width: 40px;
}
.alfa-navbar .dropdown-toggle::after{
    content: "\f107"; 
    font-family: "Font Awesome\ 5 Free"; 
    font-weight: 900;
    font-size: 20px;
    border: none;
    vertical-align: middle;
    color: #00cdcd;
}
.alfa-navbar button:focus{
    outline: none;
}

/*Alfa BODY*/
.alfa-body{
    margin-top: 110px;
}
.alfa-banner-card{
    background-color: #00cdcd;
    color: #fff;
    text-align: center;
    border: none;
    padding: 30px 0;
    font-size: 57px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 10px;
}

/*today session*/
.alfa-today-session-card{
    margin-top: 40px;
    background-color: #2fda61;
    color: #fff;
    text-align: center;
    border: none; 
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 10px;
    position: relative;
}
.alfa-today-session-card h2{
    font-size: 28px; 
    font-weight: 500; 
    margin: 0;
    padding: 12px 22px;
}
.alfa-today-session-card i{
    position: absolute;
    background-color: #2fda61;
    padding: 19px 16px;
    border-radius: 50%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.15)!important;
    right: 80px;
    font-size: 34px;
    top: -9px;
}
/*practise progress*/
.alfa-practise-progress-card { 
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.alfa-practise-progress-card .card-header{
    background-color: #00cdcd;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.alfa-practise-progress-card .card-header h2{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin: 0;
}
.alfa-practise-progress-card .circle svg{
    stroke-linecap: round;
}
.alfa-practise-progress-card .circle .circles-text{ 
    top: 26px !important;
    font-size: 20px !important;
    line-height: 12px !important;
    height: auto !important;
}
.alfa-practise-progress-card .circle .circles-text small{
    font-size: 11px;
    font-weight: 600;
}
.alfa-practise-progress-card .alfa-practise-progress-circle-wrapper h3 {
    font-size: 20px;
    font-family: 'Lato', sans-serif; 
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 4px;
}
.alfa-practise-progress-card .alfa-practise-progress-circle-wrapper p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
}
.alfa-progress-bar-wrapper{
    margin-top: 40px;
}
.alfa-progress-bar-wrapper .progress.alfa-progress{
    margin-bottom: 18px;
}
.alfa-progress-bar-speaking h3,
.alfa-progress-bar-reading h3,
.alfa-progress-bar-writing h3,
.alfa-progress-bar-listening h3{ 
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}
.alfa-progress-bar-speaking p,
.alfa-progress-bar-reading p,
.alfa-progress-bar-writing p,
.alfa-progress-bar-listening p{
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 14px;
}
 
.alfa-progress-bar-speaking p span,
.alfa-progress-bar-reading p span,
.alfa-progress-bar-writing p span,
.alfa-progress-bar-listening p span{
    float: right;
}
.alfa-progress-bar-speaking,
.alfa-progress-bar-reading{
    padding-left: 36px; 
}
.alfa-progress-bar-writing,
.alfa-progress-bar-listening{
    padding-right: 36px; 
}
.alfa-progress-bar-reading,
.alfa-progress-bar-listening{
    margin-top: 36px;
}
.alfa-progress-bar-speaking h3{
    color: #ec935f;
}
.alfa-progress-bar-reading h3{
    color: #2fda61; 
}
.alfa-progress-bar-writing h3{
    color: #5fb1fb;
}
.alfa-progress-bar-listening h3{
    color: #185d92;
}
.alfa-progress-bar-speaking p span{
    color: #ec935f;
}
.alfa-progress-bar-reading p span{
    color: #2fda61;
}
.alfa-progress-bar-writing p span{
    color: #67b8fc;
}
.alfa-progress-bar-listening p span{
    color: #185d92;
}
.alfa-progress-bar-speaking p span.alfa-progress-100{
    color: rgba(236, 147, 95, .2);
}
.alfa-progress-bar-writing p span.alfa-progress-100{
    color: rgba(103, 184, 252, .2);
}
.alfa-progress-bar-reading p span.alfa-progress-100{
    color: rgba(47, 218, 97, .2);
}
.alfa-progress-bar-listening p span.alfa-progress-100{
    color: rgba(24, 93, 146, .2);
}
/*Progress Bar*/
.progress.alfa-progress{
    border-radius: 50px;
    height: 10px;
}
.progress.alfa-progress .progress-bar{
    border-radius: 50px;
}
.progress.alfa-progress.alfa-bg-orange{
    background-color: rgba(236, 147, 95, .2) !important;
}
.progress.alfa-progress.alfa-bg-blue{
    background-color: rgba(103, 184, 252, .2) !important;
}
.progress.alfa-progress.alfa-bg-green{
    background-color: rgba(47, 218, 97, .2) !important;
}
.progress.alfa-progress.alfa-bg-red{
    background-color: rgba(232, 52, 43, .2) !important;
}
.progress.alfa-progress.alfa-bg-blue-dark{
    background-color: rgba(24, 93, 146, .2) !important;
}

.progress.alfa-progress.alfa-bg-orange .progress-bar{
    background-color: #ec935f;
}
.progress.alfa-progress.alfa-bg-green .progress-bar{
    background-color: #2fda61;
}
.progress.alfa-progress.alfa-bg-blue .progress-bar{
    background-color: #67b8fc   ;
}
.progress.alfa-progress.alfa-bg-red .progress-bar{
    background-color: #e8342b;
}
.progress.alfa-progress.alfa-bg-blue-dark .progress-bar{
    background-color: #185d92;
}


/*listen test speech test*/
.alfa-listen-test-card,
.alfa-speech-test-card{
    margin-top: 30px;
    text-align: center;
    display: block;
    padding: 0 16px 16px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.alfa-listen-test-card h3,
.alfa-speech-test-card h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin: 8px 0 6px;
}
.alfa-listen-test-card h3{
    color: #185d92;
}
.alfa-speech-test-card h3{
    color: #ec935f;
}    
.alfa-speech-test-card i,
.alfa-listen-test-card i{
    color: #fff; 
    font-size: 30px;
    border-radius: 50%;
}
.alfa-speech-test-card i{
    background-color: #ec935f;
    padding: 24px 29px;
    animation: pulse_animation_orange 1.3s infinite;
} 
.alfa-listen-test-card i{
    background-color: #185d92;
    padding: 24px;
    animation: pulse_animation_blue 1.3s infinite;
} 
p.alfa-test-card-bottom-content{
    margin-top: 20px;
}
.alfa-listen-test-card a.alfa-test-card-controller,
.alfa-speech-test-card a.alfa-test-card-controller{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(-50%, -155%);
    font-size: 26px;
    color: #000;
}
.alfa-listen-test-card .alfa-form-control,
.alfa-speech-test-card .alfa-form-control{
    border-color: #000;
    border-radius: 30px;
    margin-bottom: 8px;
    line-height: 3;
    height: 42px;
}
.alfa-speech-test-card .progress.alfa-progress{
    height: 38px;
}
.alfa-show-word-btn{
    background-color: #185d92;
    font-size: 18px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    border-radius: 50px;
    max-height: 38px;
    padding-top: 3px;
    font-weight: 500;
    text-transform: uppercase;
}

/*SIX CARDS*/
.alfa-six-card-section{
    margin-top: 30px;
}
.alfa-six-card-section .card{
    padding: 16px 6px;
    display: block;
    color: #333;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
} 
.alfa-six-card-section .card img{
    padding: 5px;
    max-width: 100px;
}
.alfa-six-card-section .card h3{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 16px;
    font-weight: 600;
}

/*FAQ*/
.alfa-faq-wrapper{
    margin-top: 30px;
}
.alfa-faq-wrapper .alfa-faq-card-main .alfa-faq-card-header-main{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #11e6e6;
    font-size: 20px;
    font-weight: 500;
    padding: 3px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}   
.alfa-faq-wrapper .alfa-faq-card-main .alfa-faq-card-body-main h3{
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.alfa-faq-wrapper .alfa-faq-card-main .alfa-faq-card-body-main h3.alfa-faq-PTEacademy-heading{
     color: #e8342b;
}
.alfa-faq-wrapper .alfa-faq-card-main .alfa-faq-card-body-main h3.alfa-faq-PTEreading-heading{
     color: #2fda61;
}
.alfa-faq-wrapper .alfa-faq-card-main .alfa-faq-card-body-main h3.alfa-faq-PTEwriting-heading{
     color: #11e6e6;
}
.alfa-faq-wrapper .alfa-faq-card-main .alfa-faq-card-body-main h3.alfa-faq-PTEspeaking-heading{
     color: #ec935f;
}
.alfa-faq-wrapper .alfa-faq-card-main .alfa-faq-card-body-main h3.alfa-faq-PTElistening-heading{
     color: #185d92;
}
.alfa-faq-card-main .accordion .card{
    margin-bottom: 24px;
    border: 0;
    border-radius: 40px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.alfa-faq-card-main .accordion .card .card-header{
    padding: 2px 20px;
}
.alfa-faq-card-main .accordion .card .card-header button{
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}
.alfa-faq-card-main .accordion .card .card-header .btn:hover,
.alfa-faq-card-main .accordion .card .card-header .btn:focus{ 
    text-decoration: none;
}
.alfa-faq-card-main .accordion .card .card-header button i{
    font-size: 20px;
    float: right;
    margin-top: 2px;
    margin-right: -15px;
}
.alfa-PTEacademy-accordion .card-header{
    background-color: #e8342b;
}
.alfa-PTEreading-accordion .card-header{
    background-color: #2fda61;
}
.alfa-PTEwriting-accordion .card-header{
    background-color: #11e6e6;
}
.alfa-PTEspeaking-accordion .card-header{
    background-color: #ec935f;
}
.alfa-PTElistening-accordion .card-header{
    background-color: #185d92;
}

/*SIDEBAR*/
/*Your Target*/
.alfa-your-target-card{
    background-color: #676767;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 20px 0;
    position: relative;
}
.alfa-your-target-card h3{
    text-align: center;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 50px;
}
.alfa-your-target-card p{
    font-size: 34px;
    font-weight: 600;
    color: #67b8fc;
    padding: 16px 10px;
    background-color: #fff;
    border-radius: 10px;
    display: initial;
}
.alfa-your-target-card i{
    position: absolute;
    color: #fff;
    top: -14px;
    right: 20px;
}
/*Exam Countdown*/
.alfa-exam-count-card{
    background-color: #00cdcd;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 20px 0;
    position: relative;
    margin-top: 20px;
}
.alfa-exam-count-card h3{ 
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
}
.alfa-exam-count-card i{
    position: absolute;
    color: #fff;
    top: -14px;
    right: 20px;
}
.flip-clock-wrapper{
    zoom: .415;
    margin-top: 60px;
    margin-left: 56px;
}
.flip-clock-divider{
    width: 40px;
}
.flip-clock-divider .flip-clock-label{
    zoom: 2;
    left: -16px;
    color: #fff;
    text-transform: uppercase;
}
.flip-clock-wrapper .flip{
    box-shadow: none;
}
.flip-clock-wrapper ul{
    background: none;
}
.flip-clock-wrapper ul li a div div.inn{
    background-color: #fff;
    color: #00cdcd;
    text-shadow: none;
    padding-top: 2px;
    font-size: 60px;
    font-family: 'Lato', sans-serif; 
    font-weight: 500;
}
.flip-clock-dot{
    background-color: transparent;
    box-shadow: none;
}
.flip-clock-wrapper ul li a div.up:after{
    background-color: transparent;
}
/*daily task*/
.alfa-daily-task-card{
    margin-top: 20px;
}
.alfa-daily-task-card .card-header{
    background-color: #676767;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 0;
    font-size: 20px;
}
.alfa-daily-task-card .card-body{
    padding: 20px 0;
}
.alfa-daily-task-card .datepicker table{
    margin-left: 15px;
}
.alfa-daily-task-card .datepicker td,
.alfa-daily-task-card .datepicker th{
    font-size: 12px;
    padding: 10px 13px;
}
.alfa-daily-task-card .datepicker table tr td.active {
    background: none;
}
.alfa-daily-task-card .datepicker table tr td.active.active{
    background: #00cdcd;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
/*today's task*/
.alfa-today-task-card{
    margin-top: 20px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.alfa-today-task-card .card-header{
    background-color: #00cdcd;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 0;
    font-size: 20px;
}
.alfa-today-task-card .card-body{
    padding:20px 8px;
}
.alfa-TodayTask-accordion{
    border-radius: 50px !important;
    margin-bottom: 20px;
}
.alfa-TodayTask-accordion button{
    text-transform: uppercase;
    color: #fff;
    text-align: center !important;
    font-weight: 600;
}
.alfa-TodayTask-accordion button:hover,
.alfa-TodayTask-accordion button:focus{
    color: #fff;
    text-decoration: none;
}
.alfa-TodayTask-accordion i{
    float: right;
    margin-top: 4px;
} 
.alfa-today-task-list{
    padding:0 5px;
    font-size: 14px;
    font-weight: 600;
}
.alfa-today-task-list p{
    margin-bottom: 8px;
    padding-left: 12px;
}
.alfa-today-task-list p::before{
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50px;
    position: absolute;
    top: 7px;
    left: -2px;
}
.alfa-today-task-list span{
    text-align: right;;
    padding-left: 10px;
}
.alfa-today-task-list i{
    font-size: 10px;
    color: #fff;
    padding: 3px;
    border-radius: 50px;
}
.alfa-today-task-list.alfa-today-task-list-speacking p::before{
    background-color: #ec935f;
}
.alfa-today-task-list.alfa-today-task-list-writing p::before{
    background-color: #00cdcd;
}
.alfa-today-task-list.alfa-today-task-list-reading p::before{
    background-color: #2fda61;
}
.alfa-today-task-list.alfa-today-task-list-listening p::before{
    background-color: #185d92;
}
.alfa-today-task-list.alfa-today-task-list-speacking i{
    background-color: #ec935f;
}
.alfa-today-task-list.alfa-today-task-list-writing i{
    background-color: #00cdcd;
}
.alfa-today-task-list.alfa-today-task-list-reading i{
    background-color: #2fda61;
}
.alfa-today-task-list.alfa-today-task-list-listening i{
    background-color: #185d92;
}


/*weekly achievement*/
.alfa-weekly-achievement-card{
    margin-top: 20px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.alfa-weekly-achievement-card .card-header{
    background-color: #fff;
    color: #00cdcd;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px 0;
    font-size: 20px;
}
.alfa-weekly-achievement-card .card-header{
    background-color: #fff;
    color: #00cdcd;
}
.alfa-weekly-achievement-card .card-body{
    background-color: #00cdcd;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.alfa-weekly-achievement-card .card-body p{
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
/*Mock Test*/
.alfa-mock-test-card{
    margin-top: 20px;
}
.alfa-mock-test-card h3{
    text-transform: uppercase;
    text-align: center;
    color: #e8342b;
    font-size: 20px;
    margin: 0;
    padding: 48px;
}

/*pulse_animation*/
@keyframes pulse_animation_orange {
    0% { box-shadow: 0 0 0 0 rgba(236, 147, 95, 0.8) }
    100% { box-shadow: 0 0 0 20px rgba(236, 147, 95, 0) }
}
@keyframes pulse_animation_blue {
    0% { box-shadow: 0 0 0 0 rgba(24, 93, 146, 0.8) }
    100% { box-shadow: 0 0 0 20px rgba(24, 93, 146, 0) }
}


@media (min-width: 1200px){
    /* .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    } */
}
@media(min-width: 992px) and (max-width: 1199.98px){
    .alfa-today-session-card i{
        right: 40px;
    }
}   
@media(max-width: 768px){
    .navbar-nav .nav-item{
        margin-bottom: 8px;
    }
    .navbar-nav .nav-link { 
        padding-left: 4px;
    }
}
@media (max-width: 575.98px) { 
    .alfa-today-session-card i{
        right: -10px;
        font-size: 16px;
        padding: 12px;
    }
 }
